{% extends "page.twig" %}

{% block content %}

	<div class="home-hero" {% if post.home_hero_background_id %} style="background-image: url('{{ Image(post.home_hero_background_id).src|resize(1920,0) }}')" {% endif %}>

		<div class="container-fluid">

			<div class="home-hero__inner">

				{% if post.home_hero_content %}
					<h2 class="big-heading">
						{{ post.home_hero_content }}
					</h2>
				{% endif %}

				<div class="section section--tight section--no-bottom">

					<div class="section section--tight section--no-top">

						<div class="row">

							<div class="col-lg-8">

								<form action="/business-search" method="get" class="business-search business-search--compact">

									<div class="search-submit-combo">

										<input type="search" name="address" class="search-submit-combo__search" placeholder="Full Address or ZIP Code">

										<input type="submit" class="button search-submit-combo__submit" value="Search">

									</div>

								</form>

							</div>

						</div>

					</div>

				</div>

			</div>

		</div>

	</div>

	<div class="section">

		<div class="container-fluid">

			<div class="section section--tight section--no-top">
				<h3 class="section-heading">
					Support local businesses near you
				</h3>
			</div>

			<div class="map-results">

				<div class="map-results__left">

					<div class="card-teases-vertical">

						{% for business in businesses %}

							<a href="{{ business.link }}" class="card-tease">

								{% if business.terms('product_type') %}
									<div class="card-tease__overline">
										{{ business.terms('product_type')|join(', ') }}
									</div>
								{% endif %}

								<h3 class="card-tease__title">
									{{ business.title }}
								</h3>

								{% if business.street_address or business.city or business.state or business.zip_code %}
									<div class="card-tease__underline">
										<i class="fa fa-map-marker fa-lg"></i> &nbsp;
										{{ business.street_address }}, {{ business.city }}, {{ business.state }} {{ business.zip_code }}
									</div>
								{% endif %}

							</a>

						{% endfor %}

					</div>

				</div>

				<div class="map-results__right">

					<div class="map-results__map" id="search-results-map"></div>

				</div>

			</div>

		</div>

	</div>

{% endblock %}

{% block extra_content_footer %}

	<script src="https://maps.googleapis.com/maps/api/js?key={{ google_maps_api_key }}&callback=initSearchResultsMap" async defer></script>

{% endblock %}